<div class="panel panel-default">
    <div class="panel-heading">新建服务器</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="serverAddr">服务器监听地址</label>
            <input type="text" class="form-control" ng-model="newServerAddr" id="serverAddr">
        </div>
        <div class="form-group">
            <label for="serverCheckPath">健康检查 URL</label>
            <input type="text" class="form-control" ng-model="newServerCheckPath" id="serverCheckPath" placeholder="例如： /check">
        </div>
        <div class="form-group">
            <label for="serverCheckResponsedBody">期望返回的HTTP Body字串</label>
            <input type="text" class="form-control" ng-model="newServerCheckResponsedBody" id="serverCheckResponsedBody" placeholder="如果不设置，仅仅检查返回状态码为 200.">
        </div>
        <div class="form-group">
            <label for="serverCheckTimeout">健康检查单次请求超时时间</label>
            <input type="number" class="form-control" ng-model="newServerCheckTimeout" id="serverCheckTimeout" value="3" placeholder="单位：秒" />
        </div>
        <div class="form-group">
            <label for="serverCheckDuration">健康检查间隔</label>
            <input type="number" class="form-control" ng-model="newServerCheckDuration" id="serverCheckDuration" value="30" placeholder="单位：秒" />
        </div>

        <div class="form-group">
            <label for="serverMaxQPS">服务请求最大 QPS</label>
            <input type="number" class="form-control" ng-model="newServerMaxQPS" id="serverMaxQPS" placeholder="超过这个QPS的请求会被Proxy直接拒绝。" />
        </div>

        <div class="form-group">
            <label for="serverHalfToOpen">熔断机制中半打开状态时间，单位：秒</label>
            <input type="number" class="form-control" ng-model="newServerHalfToOpenSeconds" id="serverHalfToOpen" value="300" placeholder="熔断机制中从半打开状态转换到打开状态的时间，单位秒。默认 300 秒" />
        </div>

        <div class="form-group">
            <label for="serverHalfTrafficRate">熔断机制中，处于半打开状态的速率</label>
            <input type="number" class="form-control" ng-model="newHalfTrafficRate" id="serverHalfTrafficRate" value="50" placeholder="半开速率" />
        </div>

        <div class="form-group">
            <label for="serverHalfToOpenSucceedRate">Server close to half: succeed rate</label>
            <input type="number" class="form-control" ng-model="newHalfToOpenSucceedRate" id="serverHalfToOpenSucceedRate" value="80" placeholder="how succeed request rate in last HalfToOpenCollectSeconds, when server to normal status" />
        </div>

        <div class="form-group">
            <label for="serverHalfToOpenCollectSeconds">Server close to half: collect seconds</label>
            <input type="number" class="form-control" ng-model="newHalfToOpenCollectSeconds" id="serverHalfToOpenCollectSeconds" value="120" placeholder="how failure request rate in last HalfToOpenCollectSeconds, when server to normal status" />
        </div>

        <div class="form-group">
            <label for="serverOpenToCloseFailureRate">Server open to close: failure rate</label>
            <input type="number" class="form-control" ng-model="newOpenToCloseFailureRate" id="serverOpenToCloseFailureRate" value="20" placeholder="how failure request rate in last OpenToCloseCollectSeconds, when server to circuit breaken" />
        </div>

        <div class="form-group">
            <label for="serverOpenToCloseCollectSeconds">Server open to close: collect seconds</label>
            <input type="number" class="form-control" ng-model="newOpenToCloseCollectSeconds" id="serverOpenToCloseCollectSeconds" value="60" placeholder="how failure request rate in last OpenToCloseCollectSeconds, when server to circuit breaken" />
        </div>

        <button type="button" class="btn btn-default" ng-click="add()">增加</button>
    </div>
</div>