<h1 class="page-header">Clusters</h1>

<div>
    <form style="margin-bottom: 3px;" class="form-inline">
        <button type="button" class="btn btn-success btn-sm" ng-click="create()">
            创建
        </button>

        <label for="search">搜索:</label>
        <input type="text" class="form-control" ng-model="q" id="search" />
    </form>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>名称</th>
                <th>负载均衡</th>
                <th>服务器数量</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="cluster in clusters | filter: q">
                <td><a href="#/clusters/{{cluster.name}}">{{cluster.name}}</a></td>
                <td>{{cluster.lbName}}</td>
                <td>{{cluster.count}}</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" ng-click="delete(cluster.name)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>